* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 16px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #333;
  color: #333;
}
.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#main {
  width: 100%;
  height: auto;
  background: #ccc;
  min-height: 300px;
  padding-bottom: 20px;
}
#title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#sub-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#topics-container {
  border:  1px solid #333;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
}
#topic-buttons-container {
  display: none;
  flex-direction: column;
}
#topics-list {
  width: 100%;
}
.topic {
  cursor: pointer;
  width: 100%;
  height: 40px;
  background: transparent;
  margin: 0;
}
.topic:hover {
  background: #acf;
}
.answer {
  width: 100%;
  height: auto;
  margin: 5px;
  cursor: pointer;
  background: #fff;
  padding: 10px;
  border: 1px solid #333;
}
.answer:hover {
  border-color: #fafafa;
}
.btn {
  min-width: 120px;
  min-height: 40px;
  background: #0fb;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  font-size: 18px;
  padding: 5px;
  user-select: none;
}
.btn:hover {
  background: #0fc;
}
.answer-correct {
  background: #2c2;
}
.answer-wrong {
  background: #f33;
}
#current-question {
  padding: 10px;
  border: 1px solid #333;
  margin-bottom: 20px;
  width: 98%;
  background: #fd0;
}
#answers-container {
  width: 98%;
}
#next-question-btn {
  width: 100px;
  min-width: 100px;
  font-size: 16px;
  height: 50px;
  font-weight: bold;
}
.label {
  font-size: 15px;
  margin: 0 5px;
}
.label-output {
  border: 1px solid #444;
  padding: 5px;
}
#questions-container, #footer {
  display: none;
}

#end-game-wrapper {
  display: none;
}
.success {
  color:  #057a05;
}
.fail {
  color: #f33;
}
#modal, #alert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
#modal-inner, #alert-inner {
  width: auto;
  height: auto;
  min-width: 200px;
  min-height: 200px;
  position: relative;
}
#close-modal-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #f33;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  z-index: 100;
}
#image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
#image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#indicator {
  display: flex;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f33;
}
#zoom-in-btn, #zoom-out-btn {
  display: none;
}
.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#current-question-number-wrapper {
  font-size: 16px;
  color: #33f;
  width: 98%;
  margin-bottom: 10px;
}
#alert-inner {
  background-color: #fafafa;
}
#alert-header {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
#cancel-test-btn {
  background-color: #f33;
  color: #fff;
  height: 50px;
}
#alert-buttons-wrapper {
  width: 90%;
  margin-top: 30px;
  justify-content: space-around;
}
#alert-no-btn {
  background-color: #f33;
  color: #fff;
}
@media only screen and (min-width: 600px) {
  #main {
    max-width: 600px;
    border-radius: 10px;
  }
  #topics-container {
    width: 80%;
    margin: 0 auto;
  }
  #topic-buttons-container {
    display: none;
    flex-direction: row;
  }
  #next-question-btn {
    width: 200px;
    font-size: 18px;
    height: 50px;
    font-weight: bold;
  }
  #zoom-in-btn, #zoom-out-btn {
    position: fixed;
    display: flex;
    top: 10px;
    left: 140px;
    width: 50px !important;
    min-width: 30px !important;
    z-index: 100;
  }
  #zoom-out-btn {
    left: 200px;
  }
}