:root {
  --primary-background-color: #333;
  --secondary-background-color: #ccc;
  --tertiary-background-color: #fff;
  --topic-hover-color: #acf;
  --border-color-hover: #fafafa;
  --red-color: #f33;
  --dark-red-color: #b81313;
  --green-color: #2c2;
  --light-green-color: #2c2;
  --dark-green-color: #057a05;
  --blue-color: #33f;
  --yellow-color: #fd0;
  --button-background-color: #0fb;
  --button-hover-color: #0fc;
  --z-first-level: 100;
  --z-second-level: 110;
  --z-third-level: 120;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 16px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--primary-background-color);
  color: var(--primary-background-color);
}
.flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.flex-1 {
  flex: 1;
}
#main {
  width: 100%;
  height: auto;
  background: var(--secondary-background-color);
  min-height: 300px;
  padding-bottom: 20px;
}
#title {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#sub-title {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#topics-container {
  border:  1px solid var(--primary-background-color);
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
}
#topic-buttons-container {
  display: none;
  flex-direction: column;
}
#topics-list {
  width: 100%;
}
.topic {
  cursor: pointer;
  width: 100%;
  height: 40px;
  background: transparent;
  margin: 0;
  font-size: 16px;
}
.topic:hover {
  background: var(--topic-hover-color);
}
#current-question-text {
  font-size: 16px;
}
.answer {
  width: 100%;
  height: auto;
  margin: 5px;
  cursor: pointer;
  background: var(--tertiary-background-color);
  padding: 10px;
  border: 1px solid var(--primary-background-color);
  font-size: 16px;
}
.answer:hover {
  border-color: var(--border-color-hover);
}
.btn {
  min-width: 120px;
  min-height: 40px;
  background: var(--button-background-color);
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  font-size: 18px;
  padding: 5px;
  user-select: none;
}
.btn:hover {
  background: var(--button-hover-color);
}
.answer-correct {
  background: var(--light-green-color);
}
.answer-wrong {
  background: var(--red-color);
}
#current-question {
  padding: 10px;
  border: 1px solid var(--primary-background-color);
  margin-bottom: 20px;
  width: 98%;
  background: var(--yellow-color);
}
#answers-container {
  width: 98%;
}
#next-question-btn {
  width: 100px;
  min-width: 100px;
  font-size: 16px;
  height: 50px;
  font-weight: bold;
}
.label {
  font-size: 15px;
  margin: 0 5px;
}
.label-output {
  border: 1px solid #444;
  padding: 5px;
}
#questions-container, #footer {
  display: none;
}

#end-game-wrapper {
  display: none;
}
.success {
  color: var(--dark-green-color);
}
.fail {
  color: var(--red-color);
}
#modal, #alert {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
#modal-inner, #alert-inner {
  width: auto;
  height: auto;
  min-width: 200px;
  min-height: 200px;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--red-color);
  color: var(--tertiary-background-color);
  font-size: 15px;
  border: 1px solid var(--tertiary-background-color);
  z-index: 100;
}
.close-btn:hover {
  background-color: var(--dark-red-color);
}
#image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
#image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#indicator {
  display: flex;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--red-color);
}
#zoom-in-btn, #zoom-out-btn {
  display: none;
}
.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#current-question-number-wrapper {
  font-size: 16px;
  color: var(--blue-color);
  width: 98%;
  margin-bottom: 10px;
}
#alert-inner {
  background-color: var(--border-color-hover);
}
#alert-header {
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
#cancel-test-btn {
  background-color: var(--red-color);
  color: var(--tertiary-background-color);
  height: 50px;
}
#alert-buttons-wrapper {
  width: 90%;
  margin-top: 30px;
  justify-content: space-around;
}
#alert-no-btn {
  background-color: var(--red-color);
  color: var(--tertiary-background-color);
}
#history-btn {
  display: flex;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 15px;
}
.page {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  background-color: var(--secondary-background-color);
  z-index: var(--z-second-level);
}
#history-page-inner, #history-list-wrapper {
  width: 100%;
}
#page-header {
  margin-top: 60px;
  margin-bottom: 10px;
}
#history-list {
  width: 100%;
}
.list-item {
  width: 96%;
  background-color: var(--tertiary-background-color);
  border-bottom: 1px solid var(--primary-background-color);
  cursor: pointer;
}
.list-item:hover {
  background-color: var(--topic-hover-color);
}
.list-item span {
  font-size: 14px;
}
.list-item .date {
  width: 25%;
  justify-content: flex-start;
  padding-left: 5px;
}
.list-item .topic {
  width: 60%;
  justify-content: flex-start;
}
.list-item .score {
  width: 15%;
}
#test-details-page {
  z-index: var(--z-third-level);
}
#test-details-page-inner {
  height: auto;
}
#history-list-wrapper, #test-details-list-wrapper {
  height: 80vh;
  overflow-y: auto;
  justify-content: flex-start;
}
.test-details-item {
  width: 98%;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid var(--primary-background-color);
  font-size: 14px;
  margin-bottom: 5px;
}
.test-details-item div {
  font-size: 14px;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
}
.test-details-item .question {
  background-color: var(--yellow-color);
}
.test-details-item .correct-answer {
  background-color: var(--tertiary-background-color);
  color: var(--dark-green-color);
}
.test-details-item .wrong-answer {
  background-color: var(--tertiary-background-color);
  color: var(--red-color);
}
#delete-history-btn {
  right: 10px;
  left: unset;
}
@media only screen and (min-width: 800px) {
  #main {
    max-width: 800px;
    border-radius: 10px;
  }
  .page {
    width: 800px;
    min-width: unset;
    left: 50%;
    transform: translate(-50%);
  }
  #test-details-list-wrapper, #history-list-wrapper {
    height: 89vh;
  }
  .test-details-item div  {
    font-size: 16px;
  }
  .list-item span {
    font-size: 16px;
  }
  #current-question-text {
    font-size: 18px;
  }
  #topics-container {
    width: 80%;
    margin: 0 auto;
  }
  .topic {
    font-size: 18px;
  }
  .answer {
    font-size: 18px;
  }
  #topic-buttons-container {
    display: none;
    flex-direction: row;
  }
  #next-question-btn {
    width: 200px;
    font-size: 18px;
    height: 50px;
    font-weight: bold;
  }
  #zoom-in-btn, #zoom-out-btn {
    position: fixed;
    display: flex;
    top: 10px;
    left: 140px;
    width: 50px !important;
    min-width: 30px !important;
    z-index: 100;
  }
  #zoom-out-btn {
    left: 200px;
  }
}